@import '../../styles/variables';


.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .image {
      // transform: rotate(180deg);
      display: block;
      animation: rotate 30s infinite linear;
      img {
         width: 500px;
         height: 440px;
      }
  }
    .about__container {
        color: white;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        background: $color-footer;
        /* ff 3.6+ */
        background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
        /* safari 5.1+,chrome 10+ */
        background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
         /* opera 11.10+ */
         background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
         /* ie 10+ */
         background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
         /* global 92%+ browsers support */
         background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
         filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
         .title__detail {
            @include text-detail
         }
         .title {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1rem;
         }
         .about__me {
            color: $color-text;
            font-size: 1rem;
            line-height: 1.5rem;
         }
    }
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   } 100% {
      transform: rotate(360deg);
   }
}

@media screen and (max-width:768px) {
   .about {
      .image img {
         width: 320px;
         height: 280px;
      }
      .about__container {
         padding: 20px;
         .title {
            font-size: 20px;
         }
         .about__me {
            font-size: 14px;
         }
      }
   }
}

@media screen and (max-width:425px) {
   .about {
      flex-direction: column-reverse;
   }
}