@import '../variables';

.contact__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-bottom: 0;
    color: white;
    .contact__info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title__detail {
            @include text-detail
        }
        .contact__title {
            margin-bottom: 10px;
        }
        .contact__email {
            display: flex;
            flex-direction: row;
            align-items: center;
            svg {
                margin: 15px;
                font-size: 1rem;
            }
            p {
                font-size: 20px;
            }
        }
        .contact__phone {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        svg {
            margin: 15px;
            font-size: 1rem;
        }
        p {
            font-size: 20px;
        }
    }
    .contact__icons {
        margin: 1.5rem 0 0 0;
        .btn__linkedin,
        .btn__github, 
        .btn__twitter {
            margin: 0 2rem;
            cursor: pointer;
        }
    }
    .contact__form__container {
        margin: 2rem;
        .contact__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .input__name,
            .input__mail {
                padding: 1rem;
                width: 400px;
                font-size: 15px;
                border-radius: 10px;
            }
            .input__message {
                padding: 1rem;
                border-radius: 10px;
                width: 400px;
                height: 200px;
                font-size: 15px;
                border: none;
            }
            .btn__submit {
                display: grid;
                grid-template-columns: 90% 10%;
                padding: 1rem;
                padding-left: 40px;
                width: 400px;
                background: $gradient-bar;
                border-radius: 10px;
                font-size: 1.2rem;
                cursor: pointer;
                &:hover {
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
    .up__btn {
    button {
        position: relative;
        cursor: pointer;
        margin: 0rem 0 1rem 0rem;
        color: black;
        padding: 0.7rem;
        border-radius: 50%;
        border: 2px solid white;
        background-color: transparent;
        svg {
            color: white;
            font-size: 20px;
            border: none;
        }
        &:hover {
            background-color: white;
            svg {
                color: black;
            }
        }
    }
}
}

@media screen and (max-width:425px) {
    .contact__section {
        .contact__info {
            h2 {
                font-size: 1.2rem;
            }
            .contact__email {
                p {
                    font-size: 1rem;
                }
            }
            .contact__phone {
                p {
                    font-size: 1rem;
                }
            }
        }
        .contact__icons {
            margin-top: 10px;
            .btn__linkedin, 
            .btn__github, 
            .btn__twitter {
                width: 20px;
            }
        }
        .contact__form__container {
            .contact__form {
                .input__name,
                .input__mail,
                .input__message {
                    width: 300px;
                }
                .btn__submit {
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    .contact__section {
        .contact__form__container {
            .contact__form {
                .input__name,
                .input__mail {
                    width: 250px;
                    height: 30px;
                }
                .input__message {
                    width: 250px;
                }
                .btn__submit {
                    width: 250px;
                }
            }
        }
    }
}

.swal-title {
    color: black;
}

.swal-text {
    color: black;
    font-size: 18px;
}

.swal-button {
    color: black;
    background: $gradient-bar;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    &:hover {
        color: white;
    }
}