@import '../variables';

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 3rem;
    .home__content {
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
        width: 50%;
        h1 {
            font-size: 58px;
            font-weight: 600;
        }
        p {
            font-size: 24px;
            color: $color-text;
            margin: 0.2rem;
        }
        .tech__container {
            display: flex;
            margin: 0.5rem 0;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5rem 0;
            gap: 15px;
            img {
                width: 40px;
                height: 35px;
            }
        }
        .btn {
            margin: 1rem;
            margin-left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            .btn__contact {
                padding: 0.5rem 1.5rem;
                border: none;
                font-size: 1.2rem;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
            .btn__icons {
                margin-left: 1rem;
            }
            .btn__linkedin,
            .btn__github, 
            .btn__twitter {
                margin: 0 0.6rem;
                cursor: pointer;
            }
        }
    }
    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 530px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 960px) {
    .home {
        padding: 1rem 3rem;
        .home__content {
            h1 {
                font-size: 38px;
            }
            p {
                font-size: 16px;
            }
        }
        .images {
            margin-left: 2rem;
            height: 400px;
            img {
                padding: 2rem auto;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .home {
        flex-direction: column;
        .home__content {
            width: 80%;
            text-align: center;
            h1 {
                font-size: 42px;
            }
            p {
                font-size: 20px;
            }
            .btn {
                display: flex;
                justify-content: center;
            }
        }
        .images {
            height: 500px;
        }
    }
}