@import '../variables';

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .home__content {
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
        width: 50%;
        h1 {
            font-size: 46px;
            font-weight: 600;
        }
        p {
            font-size: 20px;
            color: $color-text;
            margin: 0.2rem;
        }
        .btn {
            margin: 1rem;
            margin-left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            .btn__contact {
                padding: 0.5rem 1.5rem;
                border: none;
                font-size: 1.2rem;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
            .btn__icons {
                margin-left: 1rem;
            }
            .btn__linkedin,
            .btn__github, 
            .btn__twitter {
                margin: 0 0.6rem;
                cursor: pointer;
            }
        }
    }
    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
            height: 80%;
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        .images img {
            width: 250px;
            height: 280px;
        }
        .home__content {
            h1 {
                font-size: 28px;
            }
            p {
                font-size: 16px;
            }
            .btn {
                margin: 0 auto;
                // width: ;
                .btn__contact {
                    font-size: 16px;
                    padding: 8px;
                    margin-top: 12px;
                }
                .btn__icons {
                    margin-top: 12px;
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    .home {
        flex-direction: column;
        padding: 0;
        .home__content {
            min-width: 320px;
            margin: 0;
            h1 {
                font-size: 20px;
            }
            p {
                margin: 6px auto;
                font-size: 14px;
            }
        }
        .btn {
            .btn__icons {
                .btn__twitter, 
                .btn__github, 
                .btn__linkedin {
                    width: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    .home {
        .home__content {
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
            margin: 1rem auto;
            text-align: center;
            .btn {
                .btn__contact {
                    font-size: 12px;
                }
            }
        }
    }
}