@import '../variables';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;
    min-width: 100%;
}

.navbar__logo {
    height: 100px;
    width: 100px;
    .logo {
        margin: 1rem;
        filter: invert(64%) sepia(70%) saturate(240%) hue-rotate(170deg) brightness(94%) contrast(83%);    }
}

.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        a {
            color: $color-text;
            font-size: 20px;
            padding: 1rem;
            &:hover {
                color: white;
            }
        }
    }
}

.navbar__menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}


.navbar__menu-container {
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 8px;
    .navbar__menu-container-links {
        display: flex;
        flex-direction: column;
        text-align: end;
        justify-content: space-evenly;
        color: $color-text;
        padding: 1.5rem;
        p {
            font-size: 20px;
            margin: 1rem 0.5rem;
        }
    }
}

@media screen and (max-width: 1050px) {
    .navbar__links {
        display: none;
    }
    .navbar__menu {
        margin: 2rem;
        display: block;
    }
    .navbar__logo {
        .logo {
            width: 70px;
            height: 70px;
        }
    }
}

@media screen and (max-width: 700px) {
    .navbar__logo {
        .logo {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (max-width: 700px) {
    .navbar__logo {
        .logo {
            margin: 2rem;
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 0 2rem;
    }
}
