@import '../variables';

.projects__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    color: white;
    gap: 3rem;
    .projects__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .projects__title__container {
            .title__detail {
                @include text-detail
            }
            .projects__title {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

.project__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.8rem;
    margin: 1rem;
    width: 750px;
    height: 200px;
    background: $color-footer;
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
     background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
     background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
     background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     border-radius: 10px;
    }
    .project__image {
        width: 90%;
        height: 90%;
        text-align: center;
        .project__img {
            object-fit: cover;
            border-radius: 10px;
            margin-top: 6px;
            width: 95%;
            height: 90%;
            cursor: pointer;
            height: 162px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .project__content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        height: 200px;
        padding: 10px 0 10px 0;
        h4 {
            padding: 0 0 0.5rem 0; 
            font-size: 18px;
            font-weight: 600;
        }
        p {
            color: $color-text;
            font-size: 13px;
            line-height: 1.3rem;
        }
        .project__icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0 0.8rem 0;
            gap: 10px;
            svg {
                font-size: 20px;
                cursor: pointer;
            }
        }

    }
}

@media screen and (max-width:768px) {
    .projects__section {
        padding-top: 1rem;
        .project__container {
            width: 650px;
            .project__image {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width:425px) {
    .projects__section {
        padding-top: 0;
        .projects__content {
            .projects__title__container {
                .projects__title {
                    font-size: 1.5rem;
                }
            }
        }
        .project__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 320px;
            .project__image {
                margin-top: 10px;
                img {
                    width: 200px;
                    height: 100px;
                }
            }
            .project__content {
                padding: 0;
                h4 {
                    padding-top: 5px;
                }
                p {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    .projects__section {
        .project__container {
            width: 240px;
        }
    }
}