@import '../variables';

.skills {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    background: $gradient-bar;
    border-radius: 10px;
    .skills__logos {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        margin-right: 10px;
        img {
            width: 55px;
            height: 55px;
        }
    }
    .skills__title-section {
        padding-top: 0;
        .title__detail {
            width: 38px;
            height: 3px;
            box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
            margin-bottom: 0.25; 
        }
        .skills__title {
            color: $color-footer;
            font-size: 2.3rem;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 1135px) {
    .skills {
        display: flex;
        flex-direction: column;
        width: 700px;
        margin: 3rem auto;
        .skills__title-section {
            margin: 1rem;
        }
        .skills__logos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 1rem;
            width: 400px;
            gap: 2rem;
            img {
                width: 70px;
                height: 70px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .skills {
        width: 400px;
        .skills__logos {
            grid-template-columns: 1fr 1fr 1fr;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}