@import '../variables';

.skills {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    background: $gradient-bar;
    border-radius: 10px;
    .skills__logos {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        margin-right: 10px;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .skills__title-section {
        padding-top: 0;
        .title__detail {
            width: 38px;
            height: 3px;
            box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
            margin-bottom: 0.25; 
        }
        .skills__title {
            color: $color-footer;
            font-size: 36px;
        }
    }
}

@media screen and (max-width:768px) {
    .skills {
        margin: 4rem 2rem;
        .skills__logos {
            gap: 15px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        .skills__title-section {
            .skills__title {
                font-size: 24px;
            }
        }
    }    
}

@media screen and (max-width:758px) {
    .skills {
        min-width: 320px;
        .skills__logos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .skills__title-section {
            margin-left: 10px;
            .skills__title {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:320px) {
    .skills {
        display: flex;
        flex-direction: column-reverse;
        min-width: 250px;
        .skills__logos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .skills__title-section {
            .skills__title {
                margin-bottom: 15px;
            }
        }
    }
}