// Variables
$font: 'Poppins', sans-serif;

$gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
$gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

$color-bg: #040C18;
$color-footer : #031B34;
$color-blog: #042c54;
$color-text: #81AFDD;
$color-subtext: #FF8A71;

// Mixins
@mixin text-detail {
    width: 38px;
    height: 3px;
    background: $gradient-bar;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    margin-bottom: 0.25;
}

